.flex-container{
    margin-top: 25px;
    background-image: url('https://i.imgur.com/cHzuasr.jpg');
    background-size: 800px;
    background-position: center bottom;
    background-repeat: repeat-x;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: stretch; */
    height: 670px;
    
}

.title{
    margin-top: 125px;
    /* background-color: rgba(169,169,169,.8); */
    background-color: rgba(0,0,0,.5);
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    color:rgb(37, 209, 231);
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    border-radius: 4px 4px 0px 0px;
}


.welcome{
    margin-right: 80px;
    max-width: 30%;
    font-family: Helvetica, sans-serif;
    
}

.player{
    margin-top: 100px;
    justify-content: right;
    padding-right: 30px;
}

.instructions{
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 15px;
    /* border-radius: 25px; */
    border-radius: 0px 0px 4px 4px;
    /* background-color: rgba(169,169,169,.8); */
    background-color: rgba(0,0,0,.5);
    /* color:rgb(37, 37, 37); */
    color: whitesmoke;
}

.button{
    width: 100px;
    padding: 2px;
    /* background-color: rgba(0,0,0,.8); */
    background-color: whitesmoke;
    color: rgba(0,0,0,.8);
    margin: 10px;
    border: solid black;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
}

.selectedSong{
    background-color: rgba(0,0,0,.5);
    /* color: rgb(37, 209, 231); */
    color: whitesmoke;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 0px;
    border-radius: 4px 4px 0px 0px;

}
.prompt{
    background-color: rgba(0,0,0,.5);
    color: rgb(37, 209, 231);
    font-size: 20px;
    margin-top: 0px;
    padding: 5px;
    border-radius: 0px 0px 4px 4px;
}
.reload{
    width: 100px;
    padding: 2px;
    /* background-color: rgba(0,0,0,.8); */
    background-color: whitesmoke;
    color: rgba(0,0,0,.8);
    margin: 10px;
    border: solid black;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
}
