.header-wrapper {
    position: fixed;
    padding: 0x;
    width: 100%;
    /* z-index: 2; */
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, .8);
    color: rgb(37, 209, 231);
    font-family: Helvetica, sans-serif;
    top:0;
    left:0;
}
.headerTitle {
    font-weight: 400;
    margin: 10px;
    align-content: center;
    margin-right:100px;
    padding-right: 150px;
}
a {
    color: white;
    text-decoration: none;
}
.test{
    padding: 10px;
    color: rgb(37, 209, 231);
}