.header-wrapper {
    position: fixed;
    padding: 0x;
    width: 100%;
    /* z-index: 2; */
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(81, 98, 129);
    color: white;
    font-family: Helvetica, sans-serif;
    top:0;
    left:0;
}
h2 {
    font-weight: 400;
    margin: 10px;
}
a {
    color: white;
    text-decoration: none;
}
.test{
    padding: 10px;
}