input{
    padding: 10px;
    margin: 10px; 
    border: 2px solid gray;
    font-size: 15px; 
    justify-content: center;
}

.sstitle{
    text-align: center;
    justify-content: center;
    color:rgb(37, 209, 231);
   padding-top: 50px;
}

.page{
    background-image: url('https://i.imgur.com/cHzuasr.jpg');
    background-size: 800px;
    background-position: center top;
    align-content: center;
}
